/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

button .dashicons-no {
 	margin-top: 3px;
 	color: red;
}

#additional-resources > .help-text{
	margin-bottom: -10px;
}

#link-text-help,
#link-help {
    font-size: 16px;
}

#link-text-help {
	margin-left: 4px;
}

#link-help {
	margin-left: 100px;
}